.body {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.body a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.body p {
    margin: 0px;
    display: flex;
    overflow: hidden;
    padding-right: 30px;
    padding-top: 10px;
    font-weight: 300;
}

@media only screen and (min-width: 1280px) {
    .body {
        max-width: 1200px;
        margin-top: 80px;
    }
    .body p {
        font-size: 3vw;
        padding-right: 2vw;
    }
}
@media only screen and (max-width: 1280px) {
    .body p {
        font-size: 5vw;
        padding-right: 2vw;
    }
}

@media only screen and (max-width: 322px) {
    .body p {
        font-size: 20px;
        padding-right: 15px;
    }
}