.footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 8px;
    text-transform: uppercase;
    margin-top: 40px;
    flex-direction: column;
}

.footer ul {
    width: 50%;
    margin-top: 10px;
    overflow: hidden;
    list-style-type: none;
    padding: 0;
}
.footer li span {
    color: #9f9689;
}

@media only screen and (min-width: 1000px) {
    .footer {
        align-items: flex-end;
        gap: 30px;
        flex-direction: row;
    }

    .footer ul {
        width: auto;
    }
}

@media only screen and (min-width: 460px) {
    .footer {
       font-size: 12px;
    }
}

@media only screen and (min-width: 390px) {
    .footer {
       font-size: 10px;
    }
}
